RHT_OCP4_MASTER_API=https://api.na410.prod.nextcle.com:6443/
RHT_OCP4_WILDCARD_DOMAIN=apps.na410.prod.nextcle.com
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.na410.prod.nextcle.com
RHT_OCP4_DEV_USER=iepajz
RHT_OCP4_DEV_PASSWORD=dfdfb663f7bf482ba61c
RHT_OCP4_GITHUB_USER=SrinivasGogineni17
RHT_OCP4_QUAY_USER=srinivasgogineni
